<library path="rqt_sm_gui">
  <class name="rqt_sm_gui/sm_gui" type="rqt_sm_gui::SMGUI" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to view a sensor_msgs/Image topic.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>SM interface</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin for interfacing with SM explorer</statustip>
    </qtgui>
  </class>
</library>